.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

tr,
th {
  height: 50px;
  width: 100px;
}
.svg {
  cursor: pointer;
  width: 20px;
}
.tcon {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
}
input {
}
.sc {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.new {
  position: absolute;
  right: 0;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.model {
  position: fixed;
  height: 60%;
  width: 30%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 5px;
  z-index: 1001;
}
.modelcontainer {
  z-index: 1000;
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.model div {
  margin-bottom: 10px;
  width: 70%;
}
.model .mbtn {
  width: 70%;
  display: flex;
  gap: 20px;
}
.mbtn > button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.model input {
  width: 100%;
}

.emodel {
  position: fixed;
  height: 60%;
  width: 30%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 5px;
}
.emodelcontainer {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.emodel div {
  margin-bottom: 10px;
  width: 70%;
}
.emodel .mbtn {
  width: 70%;
  display: flex;
  gap: 20px;
}
.mbtn > button {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.emodel input {
  width: 100%;
}
.inptcontainer {
  width: 20%;
  height: 30px;
  outline: none;
}
.sort {
  margin-left: 100px;
}
